[user]
	name = Bertan Karacora
	email = bertan.karacora@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = true
[core]
	autocrlf = input
	editor = code --wait
[credential]
	helper = /mnt/c/Program Files/Git/mingw64/bin/git-credential-manager.exe
